.One_Title {
    font-family: Arial, Helvetica, sans-serif;
}
.Two_Title {
    font-family: Arial, Helvetica, sans-serif;
}
.ending {
    background-color: black;
}
section {
    background-color: black;
    color: white;
}
footer {
    color: white;
}